* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.videoContainer {
  background-color: #f9f9f9;
  margin-top: 56px;
}

.videoWrap {
  margin: 0 auto;
  display: flex;
  /* 1060 부터 infoBtn 밑으로 내려감 (수정) */
  min-width: 1080px;
  max-width: 1760px;
}

.videoInfo {
  width: 100%;
}

.videoList {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0 0;
}

.sectionContainer {
  position: absolute;
  top: 112px;
  left: 260px;
}
