* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.app__container {
  display: flex;
}
