* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif, Arial;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.sectionContainer {
  position: absolute;
  top: 112px;
  left: 260px;
}

/* .videoDetail {
  flex: 1 1 70%;
}

.videoList {
  flex: 1 1 30%;
} */
