* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.videoDetail {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.sectionContainer {
  position: absolute;
  top: 112px;
  left: 260px;
}
