.container {
  width: 100%;
  height: 100vh;
}

.contentsHeader {
  z-index: 1;
  position: fixed;
  left: 260px;
  top: 56px;
  height: 56px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.contents {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9f9f9;
}
