.content {
  width: 360px;
  margin: 0px 8px;
  margin-bottom: 40px;
}

.thumbnails {
  width: 100%;
}

.details {
  display: flex;
  height: 100px;
}

.channelThumbnails {
  width: 36px;
  margin: 12px 12px 0 0;
}

.channelThumbnails > img {
  width: 100%;
  border-radius: 50%;
}

.channelDetails > h3 {
  margin: 12px 0 4px 0;
  /* 한줄 또는 여러줄의 문장에 대해서 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channelDetails > p {
  color: gray;
}
