.videoContainer {
  display: flex;
  justify-content: center;
  width: 95%;
  /* 1060 부터 infoBtn 밑으로 내려감 (수정) */
  min-width: 1080px;
}

.videoSec {
  flex: 1 1 75%;
  margin-left: 24px;
  padding: 24px 24px 0 0;
}

.video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.youtubeIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoList {
  flex: 1 1 25%;
  padding: 24px 24px 0 0;
}

.videoInfo {
  padding: 20px 0 8px 0;
  border-bottom: 1px solid #d9d9d9;
}

.videoTag {
  margin-right: 3px;
  font-size: 12px;
}

.videoTitle {
  font-size: 18px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.info > p {
  color: #606060;
}

/* 버튼 CSS */
.infoBtn > button {
  padding: 10px 23px;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: bold;
}

.infoBtn > button:not(:first-child) {
  margin-left: 8px;
}

/* 채널 설명 */
.videoDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 12px;
}

.channelIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: bisque;
  margin-right: 16px;
}

.channelDetaile {
  display: flex;
  align-items: center;
}

.channelTitle {
  color: #030303;
  font-size: 14px;
  font-weight: bolder;
  padding: 1.5px 0px;
}

.subscriberCount {
  font-size: 12px;
  color: #606060;
  padding: 2px 0px;
}

.subscriberBtn {
  padding: 10px 16px;
  background-color: #cc0000;
  margin: 0px 4px;
  color: #ffffff;
  font-weight: border;
  font-size: 14px;
  font-family: 'Roboto', sans-serif, Noto;
}

.description {
  margin-left: 64px;
  max-width: 615px;
  font-size: 14px;
  padding-bottom: 16px;
}

.videoDesHr {
  border: 0.1px solid #d9d9d9;
  margin-bottom: 24px;
}

.comments {
  font-size: 16px;
  margin-bottom: 24px;
  height: 300px;
}
